
header {
    color: midnightblue;
    background-color: white;
    text-align: left;
    height: 30px;
    font-size: 25px;
    padding: 1em;
    padding-left: 2em;
    padding-top: 1em;
    margin-bottom: 0.5em;
}

footer {
    color:midnightblue;
    background-color: white;
    text-align: center;
    height: 20px;
    font-size: 1em;
    padding: 1em;
    padding-left: 2em;
    padding-top: 1em;
}

img.logoimage
{
    height: 50px;
    width: 150px;    
}

header table,a
{
    float: right;
    text-decoration: none;
    color: midnightblue;
    padding-bottom: 10px;
    font-size: 25px;
    
}

header img
{
    margin: 5px;
}


img.icon
{
    width: 30px;
    height: 30px;
}

body 
{
    font-size: 20px;
    font-family: diavlo;
}


#logo
{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;    
    background-image: url("images/doodleLogo.jpg");
    height: 600px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;    
}




#signin
{
    background-color: white;
    color: midnightblue;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 5em;
    float: left;
    width: 45%;
    height: 500px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
        
}

#signup
{
    background-color: white;
    color: midnightblue;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 5em;
    height: 500px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}




.loginbutton {
    background-color: midnightblue; 
    font-family: diavlo-black;
    color: white;
    border: none;
    padding: 12px 28px;
    transition-duration: 0.4s;
}


.registerbutton {
    background-color: midnightblue;
    font-family: diavlo-black;
    color: white;
    border: none;
    padding: 12px 28px;
    transition-duration: 0.4s;
}






#calendar
{
    background-image: url("images/dark.png");
    height: 650px;
    margin-top: 4em;
}


#h1contact 
{
    text-align: center;
    
}

#h1follow
{
    text-align: center;
}

#h1userlogin
{
    text-align: left;
}

#h1userregistration
{
    text-align: left;
}



#contact table { 
    border-spacing: 5px;
    margin:auto;
} 

#contact table a
{
    text-decoration: none;
    color: white;
}

#contact td 
{ 
    padding: 10px; 
}

#contact img 
{ 
    width: 40px;
    height: 40px;
}




#follow table { 
    border-spacing: 5px;
    margin:auto;
} 

#follow table a
{
    text-decoration: none;
    color: white;
}

#follow td 
{ 
    padding: 10px; 
}

#follow img 
{ 
    width: 30px;
    height: 30px;
}




#contact
{
    background-color: white;
    color: midnightblue;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}

#follow
{
    background-image: url("images/followus.jpg");
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 270px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
    
}






.ok, .info, .error {
	padding: 0px 2px;
    font-size: 10pt;
}

.ok {
    color: darkblue;
    font-size: 10pt;
}

.info {
    color: darkblue;
    font-size: 10pt;

}

.error {
    color: darkred;
    font-size: 10pt;
}





/*
////////////////////////////////////////////////////////////////////
For userhomepage
////////////////////////////////////////////////////////////////////
*/

#h1createdoodle
{
    text-align: center;
}

#createpoll
{
    background-color: white;
    color: midnightblue;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em
    height: 150px;
    text-align: center;
}

.createdoodlebutton {
    background-color: midnightblue;
    font-family: diavlo;
    color: white;
    border: none;
    padding: 12px 28px;
    transition-duration: 0.4s;
}


#creatorselection
{
    background-color: midnightblue;
    color: white;
    background-image: url("images/polls.jpg");
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    height: 1000px;
}


#creatorselection table { 
    border-spacing: 5px;
    margin:auto;
} 

#creatorselection table a
{
    text-decoration: none;
    color: white;
    font-size: 8pt;
}

#creatorselection td 
{ 
    padding: 10px;
}

#creatorselection img 
{ 
    width: 80px;
    height: 80px;
}


#h1creatorselection
{
    text-align: center;
}


.viewdetailbutton {
    background-color: white;
    font-family: 'diavlo';
    color: midnightblue;
    border: none;
    padding: 12px 28px;
    transition-duration: 0.4s;
}




/*
////////////////////////////////////////////////////////////////////
For selectedpolldetail
////////////////////////////////////////////////////////////////////
*/


#polldetail
{
    background-color: midnightblue;
    color: white;
    background-image: url("images/statistics.png");
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 1000px;
    text-align: center;
}


#polldetail table { 
    border-spacing: 5px;
    margin:auto;
} 

#polldetail table a
{
    text-decoration: none;
    color: white;
    font-size: 8pt;
}

#polldetail td 
{ 
    padding: 10px;
}

#polldetail img 
{ 
    width: 80px;
    height: 80px;
}


#h1polldetail
{
    text-align: center;
}

#h1pollmissingdetail
{
    text-align: center;
}



.closepollbutton 
{
    background-color: white;
    font-family: diavlo;
    color: midnightblue;
    border: none;
    padding: 12px 28px;
    transition-duration: 0.4s;
}

.deletepollbutton 
{
    background-color: white;
    font-family: diavlo;
    color: midnightblue;
    border: none;
    padding: 12px 28px;
    transition-duration: 0.4s;
}



.gobackbutton 
{
    background-color: white;
    font-family: diavlo;
    color: midnightblue;
    border: none;
    padding: 12px 28px;
    transition-duration: 0.4s;
}



/*
////////////////////////////////////////////////////////////////////
For selection
////////////////////////////////////////////////////////////////////
*/


#menu
{
    text-align: center;
    height: 400px;
    background-color: white;    
    
}

#menu table { 
    border-spacing: 5px;
    margin:auto;
    color: midnightblue;
    font-family: 'diavlo';
} 

#menu table a
{
    text-decoration: none;
    color: midnightblue;
    font-size: 8pt;
}

#menu td 
{ 
    padding: 10px;
}

#menu img 
{ 
    width: 80px;
    height: 80px;
}


#h1menu
{
    text-align: center;
}



.gobutton {
    background-color: midnightblue;
    font-family:'diavlo';
    color: white;
    border: none;
    padding: 12px 28px;
    transition-duration: 0.4s;
}

.submitbutton {
    background-color: midnightblue;
    font-family:'diavlo';
    color: white;
    border: none;
    padding: 12px 28px;
    transition-duration: 0.4s;
}


#barchart_material
{
    text-align: center;
    height: 300px; 
    width: 50%;
    align-content: center;
    margin: 0 auto;

    
}

#chart
{
    align-content: center;
    text-align: center;
    margin: 0 auto;
    height: 400px;
    background-color: white;
}



.time{
    background-color: midnightblue; /* Green */
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid midnightblue;
    
}